# Data Processing

## Data Cleaning

Check if the city coordinate json covers all cities in the table

In [14]:
import re
import pandas as pd
from json import load, dump

In [27]:
df = pd.read_csv("./data/spring_2018_china.csv", sep='\t')
city_coord = load(open("./data/china_coord.json", 'r'))
# Change all hong kong city to hongkong
df['City'][df["Country"]=="Hong Kong"] = 'hongkong'

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [28]:
df.head()

,Award,City,Country,School/College,State,Student Name,Zip Code,Ordering,Max. Last Name
0,Dean's List,Beijing,China,School of Education,,Nanxi Ai,,1,Ai
1,Dean's List,Taiyuan,China,College of Agricultural and Life Sciences,,Avery Ao,,2,Ao
2,Dean's Honor List,Beijing 100062,China,College of Engineering,,Tony Bai,,3,Bai
3,Dean's List,Beijing,China,College of Letters & Science,,Yuchen Bai,,4,Bai
4,Dean's List,Jinan City Shandong,China,School of Business,,Xinya Bi,,5,Bi

In [29]:
formated_cities = []
for city in df["City"]:
    formated_city = re.split('\W+', city.lower())[0]
    formated_cities.append(formated_city)
    if formated_city not in city_coord:
        print(city)

ShanDong
Yangzhong
Beijng
Ruian Zhejiang Province
Zhongqing
Yongtaizhuang North Rd,Haidian
Dongyang
Jinyun, Lishui Zhejiang
Huhhot
Taiyuanshi
Yixing
Ping Tung City
New Taipei City
New Taipei City

In [31]:
# Update china coord json
city_coord['yangzhong'] = {
    'coord': [32.237, 119.815],
    'hanzi': '扬中市'
}
city_coord['ruian'] = {
    'coord': [27.7833, 120.625],
    'hanzi': '瑞安市'
}
city_coord['dongyang'] = {
    'coord': [29.266667, 120.216667],
    'hanzi': '东阳市'
}
city_coord['jinyun'] = {
    'coord': [28.65, 120.05],
    'hanzi': '缙云县'
}
city_coord['huhhot'] = {
    'coord': [40.816667, 111.65],
    'hanzi': '呼和浩特市'
}
city_coord['yixing'] = {
    'coord': [31.36, 119.815],
    'hanzi': '宜兴市'
}
city_coord['pingdong'] = {
    'coord': [22.676111,120.494167],
    'hanzi': '屏东市'
}
dump(city_coord, open("./data/china_coord.json", 'w'), indent=2, ensure_ascii=False)

In [34]:
# Fix the typo in the table
typo_dict = {
    'ShanDong': 'jinan',
    'Beijng': 'beijing',
    'Zhongqing': 'chongqing',
    'Yongtaizhuang North Rd,Haidian': 'beijing',
    'Taiyuanshi': 'taiyuan',
    'Ping Tung City': 'pingdong',
    'New Taipei City': 'xinbei'
}

formated_cities = []
for city in df["City"]:
    if city in typo_dict:
        city = typo_dict[city]
    formated_city = re.split('\W+', city.lower())[0]
    formated_cities.append(formated_city)
    if formated_city not in city_coord:
        print(city)

In [38]:
cleaned_df = pd.DataFrame({
    'city': formated_cities,
    'award': df['Award'],
    'school': df['School/College'],
    'name': df['Student Name']
})

In [40]:
cleaned_df.head()

,city,award,school,name
0,beijing,Dean's List,School of Education,Nanxi Ai
1,taiyuan,Dean's List,College of Agricultural and Life Sciences,Avery Ao
2,beijing,Dean's Honor List,College of Engineering,Tony Bai
3,beijing,Dean's List,College of Letters & Science,Yuchen Bai
4,jinan,Dean's List,School of Business,Xinya Bi

In [43]:
cleaned_df.to_csv("./data/award_table.csv", index = False)